@import './colors';

button {
  border: none;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: darken($lighter-grey, 10%);
  color: var(--text-secondary);
  cursor: pointer;

  &.small {
    padding: 5px;
  }

  &:hover:not(:disabled):not(.btn-no-style) {
    background-color: darken($lighter-grey, 20%);
  }

  &.btn-primary {
    background-color: $green;
    color: $white;

    &:hover:not(:disabled) {
      background-color: darken($green, 5%);
    }
  }

  &.btn-no-style {
    border: none;
    background: none;
    padding: 0;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
