// All colors here,

$light-grey: #b9b9b9;
$darker-grey: #555555;
$lighter-grey: #efefef;

$orange: #c27f1f;

$white: white;
$black: black;

$lighter-black: #303443;
$darker-black: #1e1a1a;

$overlay-white: rgba(255, 255, 255, 0.3);
$overlay-grey: rgba(0, 0, 0, 0.5);

$green: green;
