h1 {
  font-weight: bold;

  span {
    color: blue;
  }
}

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
li,
:before,
button,
tbody,
tfoot,
thead,
tr,
th,
td {
  color: var(--text-primary);
}
