@import './colors.scss';

.light {
  --background-primary: #{$white};

  --text-primary: #{$black};
  --text-secondary: #{$black};
  --text-tertiary: #{$white};

  --primary-color: #{$green};

  --card-shadow: #{$darker-grey};
  --card-background: #{$white};

  --background-navbar: #{$green};

  --drop-shadow: #{rgba(0, 0, 0, 0.1)};

  --modal-background: #{$overlay-grey};
}
